* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f2eae2;
}
.main {
  padding: 27.9975px 15.9975px;
}
@media screen and (min-width: 768px) {
  .main {
    padding: 175px 420px;
  }
}
.card {
  background-color: white;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .card {
    position: relative;
    width: 600px;
    height: 450px;
  }
}
.card-image {
  border-radius: 8px 8px 0 0;
}

@media screen and (min-width: 768px) {
  .card-image {
    border-radius: 8px 0 0 8px;
    width: 300px;
    height: 450px;
  }
}
.card-info {
  padding: 24px;
}
@media screen and (min-width: 768px) {
  .card-info {
    position: absolute;
    top: 0;
    width: 300px;
    height: 450px;
    left: 300px;
    padding: 32px;
  }
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 5px;
  color: #6c7289;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .subtitle {
    margin-bottom: 20px;
  }
}
.title {
  font-family: "Fraunces", serif;
  font-size: 32px;
  line-height: 32px;
  color: #1c232b;
  margin-block: 0px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 30px;
  }
}

.text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 23px;
  color: #6c7289;
}
@media screen and (min-width: 768px) {
  .text {
    margin-bottom: 30px;
  }
}

.price {
  display: inline-block;
  position: relative;
  font-family: "Fraunces", serif;
  font-size: 32px;
  line-height: 32px;
  color: #3d8168;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .price {
    margin-bottom: 30px;
  }
}
.price::after {
  position: absolute;
  left: 150px;
  top: 10px;
  content: attr(data-discount);
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 23px;
  color: #6c7289;
  text-decoration: line-through;
}

.button {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background-color: #3d8168;
  color: white;
  display: block;
  text-align: center;
  border-radius: 8px;
  font-weight: 600;
  padding-block: 0.9375rem;
}
@media (hover: hover) {
  .button:hover {
    background-color: #1a4032;
  }
}

.icon {
  position: absolute;
  left: 82px;
}
@media screen and (min-width: 768px) {
  .icon {
    left: 55px;
  }
}
